@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
:root{
    --button: #10B981; 
    --field: #273549;
    --field-color: #55F991;
    
    --darkbg: #1F2937;
    --dark-color1: #FFFFFF;
    --dark-color2: #4ADF86;
    --dark-color3: #D5D4D8;
    
    --lightbg: #ECFDF5;
    --light-color1: #2B283A;
    --light-color2: #10B981;
    --light-color3: #6B7280;
}
body{
    background-color: var(--darkbg);
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
    gap: 4rem;
    align-items: center;
}
.darkBody{
    background-color: var(--lightbg);
    color: #efefef;
}
#theme{
    border: none;
    background-color: var(--button);
    color: white;
    width: 211px;
    height: 39px;
    letter-spacing: 0.75px;
    border-radius: 4px;
    font-size: 1rem;
}
#main{
    height: 550px;
    width: 550px;
    background-color: var(--darkbg);
    border: 8px solid var(--dark-color1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.darkMain{
    background-color: var(--lightbg) !important;
    border: 8px solid var(--light-color1) !important;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    margin-left: 3.25rem;
}

header h1{
    font-family: 'Karla';
    font-weight: 900;
    margin: 0;
    line-height: 2.5rem;
    font-size: 40px;
    letter-spacing: -2px;
}

header h1:first-child{
    color: var(--dark-color1);
}
.darkH11{
    color: var(--light-color1) !important;
}
header h1:last-child{
    color: var(--dark-color2);
}
.darkH12{
    color: var(--light-color2) !important;
}
div h2{
    color: var(--dark-color3);
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    margin-left: 3.25rem;
    font-size: 20px;
    font-weight: 300;
}
.darkH21{
    color: var(--light-color3) !important;
}
form{
    display: flex;
    justify-content:center;
    gap: 1.5rem;
}

form input{
    border: none;
    width: 93px;
    height: 39px;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--field);
    color: var(--field-color);
    border: 1px solid var(--button);
}

form button{
    border: none;
    background-color: var(--button);
    color: white;
    width: 211px;
    height: 39px;
    letter-spacing: 0.75px;
    border-radius: 4px;
    font-size: 1rem;
}

form button:hover{
    cursor: pointer;
    border: 1px solid white;
}

#toggle{
    width: 93px;
}
.on{
    background-color: var(--button);
    color: white;
}
.off{
    background-color: var(--field);
    color: var(--field-color);
}

hr{
    border: 1px solid var(--field);
    width: 446px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fields{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.5rem;
}
.field{
    background-color: var(--field);
    color: var(--field-color);
    width: 211px;
    height: 39px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
}
.field:hover{
    cursor: pointer;
    border: 1px solid var(--button);
}
